#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List some popular languages that Data Scientists use
+ Some of the commonly used libraries by Data Scientists
* Some of the tools used by Data Scientists
+ How to convert hours in to minutes
- Do a simple arithmetic expression

Here are some of the popular languages that Data Scientists use:
1. Python
2. R
3. Julia 
4. Scala
5. C++
6.Java
7. SQL

Some of the commonly used libraries by Data Scientists include:
1. Pandas
2. Numpys
3. Matplot lib
4. Seaborn
5. Scikit Learn
6. PyTorch

| Data Science Tools |
| --------------------- |
| 1. My SQL |
| 2. MangoDB |
| 3. Hadoop HDPS |
| 4. Apache Airflow |
| 5. Apache Kafka | 
| 6. Pixie Dust |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers. 
(3*4)+5

17

In [5]:
# This code is to convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Adhinarayana A